<div *ngFor="let child of childList;">
<child #mychild>
  <!--ng content class selector-->
  <h2 #contchild class="childclassselector">{{child}}</h2><br>
  <button type="button"  class="buttontextclassselector">added button</button>

     



<!--ngcontent tag selector-->

<p #contchildren>I am tag selector</p>



<!--ngcontent id selector-->
<div #contchildren id="myid1">I am id selector</div>

<!--ngcontent attribute selector-->

<div #contchildren attributeselector>I am attribute selector</div>
</child>

<p>parent wants child data: {{viewchildtext}}</p>
</div>

<div>
  <app-ngtemplateex></app-ngtemplateex>
</div>